<div class="row-fluid no-space">
    <div class="span1" id="profile">
    	<%= render 'shared/user_info' %>
    	<%#= render 'shared/stats' %>
        <%= render 'subscription_form' %>
        <div id="inter_subs">
            <%= render 'interests' %>
        </div>
    </div>
    <div class="span10">
    	<script src="assets/wall.js"></script>
	</div>
	<!--div class="span4" id="search_results"></div-->
</div>